<div class="card m-4">
    <div class="card-header text-center d-flex justify-content-center align-items-center">
        <ul class="nav nav-pills card-header-pills me-auto">
            @if(!connected) {
                <li class="nav-item me-2">
                    <input type="text" [(ngModel)]="message.username" class="form-control" placeholder="Nombre de usuario..." name="username"/>
                </li>
            }
            <li class="nav-item me-2">
                @if(!connected) {
                    <button class="btn btn-success" [disabled]="!message.username" type="button" (click)="connect()">Conectar chat</button>
                }
            </li>
            <li class="nav-item">
                @if(connected) {
                    <button class="btn btn-warning text-primary me-2" type="button" (click)="disconnect()">Cerrar chat</button>
                    <button class="btn btn-primary"> &#64;{{ message.username | uppercase }}</button>
                }
            </li>
        </ul>
        <h2 class="text-center text-primary fw-bold ms-auto w-50 my-auto">😊 SUPER <---> CHAT 😊</h2>
    </div>
    @if(connected) {
        <div #scrollChat [scrollTop]="scrollToBottom()" class="card-body" style="overflow-y: scroll; height: 360px;">
            <ul class="list-group list-group-flush">
                @for (message of messages; track $index) {
                    <li class="list-group-item list-group-item-light">
                        @if(message.type == "NEW_USER") {
                            <span [ngStyle]="{'color': message.color}">{{ message.date | date:'HH:mm' }} &#64; {{ message.text }} {{ message.username }}</span>
                        } @else if(message.type == "MESSAGE") {
                            <span [ngStyle]="{'color': this.message.color}">{{ message.date | date:'HH:mm' }} {{ message.username }} </span><br><span> {{ message.text }}</span>
                        }                        
                    </li>
                }
            </ul>
        </div>
        <div class="card-footer">
            <form class="form-inline">
                <div class="form-group mb-3">
                    <input type="text" [(ngModel)]="message.text" (keyup)="writing()" class="form-control" placeholder="Escribe un mensaje..." name="text"/>
                </div>
                <div>{{ writingText }}</div>
                <button class="btn btn-primary" type="submit"(click)="sendMessage()" >Enviar</button>
            </form>
        </div>
    }
</div>
